<div class="container-fluid">
  <blockquote class="blockquote text-center">
    <p class="mb-0 h1">{{{title }}}</p>
  </blockquote>
  <div class="row">
    <div class="col">
      {{> (myPartial)}}
    </div>
  </div>
</div>
